body{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}
header{
    height: 100px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
    height: 500px;
}
.szary1{
     background-color: grey;
     width: 25%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.zielony{
    background-color: green;
    width: 50%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    color: white;
}
.szary2{
    background-color: grey;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 100px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
#zdj1{
    height: 300px;
    width: 300px;
}
#zdj2{
    width: 300px;
    height: 300px;
}
#n_1{
    width: 100px;
    margin: 10px;
}
#n_2{
    width: 100px;
    margin: 5px;
}
#submit{
    text-transform: uppercase;
    width: 100px;
    margin: 5px;
    margin-right: 10px;
}
#sum{
    margin: 10px;
}
#submit_2{
    text-transform: uppercase;
    width: 100px;
    margin: 5px;
    margin-right: 10px;
}
#substract{
    margin: 10px;
}
#n_3{
    width: 100px;
    margin: 10px;
}
#n_4{
    width: 100px;
    margin: 5px;
}
