body{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(177, 0, 177);
}
header{
    height: 100px;
    width: 100%;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div{
    height: 450px;
    width: 100%;
    background-color: purple;
}
.tresc{
    background-color: rgb(168, 8, 8);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    color: white;
    height: 440px;
    border-width: 5px;
    border-color: rgb(218, 0, 0);
    border-style: solid;
    border-radius: 20px;
}
footer{
    height: 100px;
    width: 100%;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#n_1{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border-width: 5px;
    border-color: #4c4d4f;
    background-color: silver;
}
#n_2{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border-width: 5px;
    border-color: #4c4d4f;
    background-color: silver;
}
#submit{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-width: 5px;
    background-color: silver;
    border-color: #4c4d4f;
}
#reset{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-width: 5px;
    background-color: silver;
    border-color: #4c4d4f;
}
#wyczysc{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-width: 5px;
    background-color: silver;
    border-color: #4c4d4f;
}
#dzialania{
    text-transform: lowercase;
    font-size: 20px;
}