*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #565c3d;
}
.container{
    margin-top: 20px;
    width: 95%;
    height: 600px;
}
header{
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
    background-color: #e9fa52;
    border-radius: 10px;
    border-bottom-width: 1px;
}
footer{
    height: 100px;
    width: 100%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    background-color: #e9fa52;
    border-radius: 10px;
    border-top-width: 1px;
}
h3{
    margin-left: 20px;
    color: #3d0101;
}
h1{
    color: #3d0101;
}
main{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9fa52;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-left-color: black;
    border-left-width: 2px;
    border-left-style: solid;
    border-right-color: black;
    border-right-width: 2px;
    border-right-style: solid;
}
section{
    height: 80px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square{
    margin: 5px;
    height: 100px;
    width: 100px;
    color: #3d0101;
    border-color: #3d0101;
    border-width: 5px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    background-color: #88a805;
    cursor: default;
    text-align: center;
}